/* #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
} */

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: lightcoral;
}

#controls {
  margin-bottom: 20px;
}

#game {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

.hidden {
  background-color: #ccc;
}
